--- 
import IconLink from "./IconLink.astro"
import { astroI18n, t, l } from "astro-i18n";

// thanks christian
const changeLang = (langCode: LangCode) =>
  l(Astro.url.pathname, undefined, langCode);

--- 

<header>
    <div class="title-header">
        <img class="ns-dawn-logo" src="/assets/img/icon/akatsuki.png" alt="ns dawn logo">
        <h1>
            {t("index/nishant-suria")}
        </h1>
        <div class="external-links">
            <IconLink icon="linkedin.png" alt="LinkedIn logo external link" href="https://www.linkedin.com/in/nishant-suria/" />
            <IconLink icon="itch.png" alt="Itch.io logo external link" href="https://ns-dawn.itch.io/" />
            <IconLink icon="github.png" alt="GitHub logo external link" href="https://github.com/NSDawn" />
        </div>
    </div>
    <nav>
        <div class="dropdown-wrapper">
            <button type="button">
                {t("header/lang-icon")}
            </button>
            <div class="dropdown language-links">
                <a href={changeLang("en")} onclick="setNavLang('en');">english</a>
                <a href={changeLang("fr")} onclick="setNavLang('fr');">français</a>
                <a href={changeLang("es")} onclick="setNavLang('es');">español</a>
                <a href={changeLang("ja")} onclick="setNavLang('ja');">日本語</a>
            </div>
        </div>

        <a href={`${Astro.url.origin}/${astroI18n.langCode}/home`}>
            {t("header/home")}
        </a>

        <div class="dropdown-wrapper">
            <button type="button">
                {t("header/projects")}
            </button>
            <div class="dropdown projects">
                <a href={`${Astro.url.origin}/${astroI18n.langCode}/games`}>{t("header/projects/games")}</a>
                <a href={`${Astro.url.origin}/${astroI18n.langCode}/linguistics#tamil-liquids`}>{t("header/projects/linguistics")}</a>
            </div>
        </div>

        <a href={`${Astro.url.origin}/${astroI18n.langCode}/cv`}>
            {t("header/cv")}
        </a>
        
        
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .title-header {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        align-items: center;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .external-links {
        margin-left: auto;
        margin-right: 2rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }
    @media only screen and (max-width: 470px) {
        .external-links {
            flex-direction: column;
            justify-content: right;
        }
    }
    h1 {
		font-family: Fira;
		color: var(--rgb-text);
        line-height: 40px;
		font-size: 40px;
        text-align: left;
        margin: 0;
	}
    nav {
        float: right;
        display: flex;
        gap: 1rem;
        flex-direction: row;
    }
    nav > a {
        all: unset;
        height: 1.1em;
        cursor: pointer;
        padding: 0.5rem;
        outline: 0.1rem var(--rgb-text) solid;
        border-radius: 10px 0px 10px 0px ;
        transition: ease-in-out 0.15s;
        font-weight: bold; 
    }
    nav > a:hover {
        text-shadow: 0px 0px 2px var(--rgb-accent-to);
        outline: 0.2rem var(--rgb-accent-from) solid;
        transform: scale(1.25);
        border-radius: 0px 10px 0px 10px;
        transition: ease-in-out 0.15s;
    }
    nav button {
        all: unset;
        height: 1.1em;
        cursor: pointer;
        padding: 0.5rem;
        outline: 0.1rem var(--rgb-text) solid;
        border-radius: 10px 0px 10px 0px ;
        transition: ease-in-out 0.15s;
        font-weight: bold;
    }
    nav button:hover {
        text-shadow: 0px 0px 2px var(--rgb-accent-to);
        outline: 0.2rem var(--rgb-accent-from) solid;
        transform: scale(1.25);
        border-radius: 0px 10px 0px 10px;
        transition: ease-in-out 0.15s;
    }
    nav button:focus {
        transform: scale(1.1);
        text-decoration: underline solid 0.1rem;
        outline: 0.2rem var(--rgb-accent-from) solid;
        border-radius: 0px 10px 0px 10px;
        position: relative;
        pointer-events: none;
    }
    nav button::selection {
        background: #00000000 /* WebKit/Blink Browsers */
    }
    .ns-dawn-logo {
        aspect-ratio: 1;
        width: 4rem;
        height: 4rem;
    }
    .dropdown-wrapper {
        position: relative;
    }
    div.dropdown {
        transition: ease-in-out 0.15s;
        font-size: 0;
        filter: opacity(0);
        width: max-content;
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3em;
        background-color: var(--rgb-bg-from);
        outline: 0.1em var(--rgb-text) solid;
        padding: 0.5em;
        border-radius: 10px 0px 10px 0px ;
        z-index: 99;
        
    }
    nav button:focus + div.dropdown, div.dropdown:focus-within {
        font-size: 1rem;
        filter: opacity(100);
    }
    div.dropdown a {
        all: unset; 
        cursor: pointer;
    }
    div.dropdown a:hover {
        transform: scale(1.1);
        text-decoration: underline var(--rgb-text) 0.1rem solid;
    }
  
</style>

<script is:inline>

function setNavLang(language) {
    localStorage.setItem("preferred-navigation-language", language);
    return false; // prevent default
}
 

</script>