---
import Layout from "../../../layouts/Layout.astro";
import Title from "../../../components/Title.astro"
import { astroI18n, t, l } from "astro-i18n";

astroI18n.init(Astro);
---

<Layout title={t("cv/webp-title")}>
    <Title text={t("cv/h")} char="💠" />
        
    <main>
        <section class="card">
            <h3>{t("cv/about/h")}</h3>
            <p>{t("cv/about/p")}</p>
        </section>
        <div class="card-wrapper">
            <section class="card">
                <h3>{t("cv/employment/h")}</h3>
                <ul class="edu-list">

                    {[1, 0].map((i) => {
                        return (
                            <li>
                                <h4>{t(`cv/employment/li/${i}/h`)}</h4>
                                <div>{t(`cv/employment/li/${i}/company`)}</div>
                                <small>{t(`cv/employment/li/${i}/date`)}</small>
                                <div class="desc">{t(`cv/employment/li/${i}/desc`)}</div>

                            </li>
                        )
                    })}
                    
                </ul>
            </section>
            <section class="card">
                <h3>{t("cv/education/h")}</h3>
                <ul class="edu-list">

                    {[2, 1, 0].map((i) => {
                        return (
                            <li>
                                <h4>{t(`cv/education/li/${i}/h`)}</h4>
                                <div>{t(`cv/education/li/${i}/school`)}</div>
                                <small>{t(`cv/education/li/${i}/date`)}</small>
                            </li>
                        )
                    })}
                        
                </ul>
            </section>
        </div>
        <section class="card">
            <h3>{t("cv/skills/h")}</h3>
            <div class="skills-row">
                {[0, 1, 2, 3,4].map((i) => {
                    return (
                        <div>
                            <h4>{t(`cv/skills/${i}/h`)}</h4>
                            <ul class="skills-list">
                               {[0, 1, 2, 3, 4].map((j) => {

                                    if (t(`cv/skills/${i}/${j}/_skill`) == `cv/skills/${i}/${j}/_skill`) return;
                                    return (
                                        <li class="skill">
                                            <img src={"/assets/img/block-icon/"+ t(`cv/skills/${i}/${j}/_skill`) + ".png"} alt={t(`cv/skills/${i}/${j}/_skill`) + " icon"} />
                                            <div class="skill-text">{t(`cv/skills/${i}/${j}/skill` + ".png")}</div>
                                            <img src={"/assets/img/block-icon/hp_bar_"+ t(`cv/skills/${i}/${j}/_proficiency`) + ".png"} alt="skill bar" />
                                            <small class="skill-text">{t(`cv/skills/${i}/${j}/proficiency`)}</small>
                                        </li>
                                    )
                               })}
                            </ul>
                        </div>
                    )
                })}
            </div>
        </section>
        <section class="card">
            <h3>{t("cv/certifications/h")}</h3>
            <ul class="cert-list">
                {[3, 2, 1, 0].map((i) => {
                    return (
                        <li>
                            <h4>{t(`cv/certifications/li/${i}/h`)}</h4> 
                            {t(`cv/certifications/li/${i}/href`) !== `cv/certifications/li/${i}/href` ? <a href={t(`cv/certifications/li/${i}/href`)} target="_blank">📄</a> : null}
                            <small>{t(`cv/certifications/li/${i}/date`)}</small>
                        </li>
                    )
                })}
            </ul>
        </section>
    </main>
</Layout>

<style>

    .cert-list, .edu-list {
        list-style-type: "💠  ";
    }
    .cert-list li, .edu-list li {
        margin: 0.5rem 0em;
    }
    .cert-list h4, .edu-list h4 {
        all: unset;
        font-size: 1.1em;
        font-weight: bold;
        display: block;
        line-height: 1.5rem;
    }
    .cert-list small, .edu-list small {
        font-size: 0.65em;
    }
    .edu-list .desc {
        padding: 0 0.5em;
        font-size: 0.75em;
    }
    .skills-row {
        margin: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

    }
    .skills-row > div {
        flex: 1;
        width: fit-content;
        display: block;
        background-color: var(--rgb-bg-to);
        outline: 0.1em solid var(--rgb-text);
        border-radius: 25px 0 25px 0;
    }
    .skills-row h4 {
        white-space: nowrap;
        text-align: center;
    }
    .skills-list {
        white-space: nowrap;
        max-height: 15em;
        overflow: auto;
        padding: 1rem 2rem;
        scrollbar-gutter: stable;
        display:flex;
        flex-direction: column;
    }
    .skill {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 0.25rem;
        margin: 0.5rem 0;
    }
    .skill .skill-text {
        margin: 0 0.4rem;
    }
    small.skill-text {
        transform: translateY(-0.5rem)
    }
    .skill img {
        width: 3rem;
    }
    
</style>